* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura";
  letter-spacing: 1px;
  color: #494949;
  font-size: 15px;
  text-decoration: none; }

body {
  height: 100vh;
  width: 100vw;
  overflow: auto; }

.flex-center, #overview-header-wrapper, .about-back, #header-wrapper, .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.overview-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: -21px -21px 40px 0 rgba(0, 0, 0, 0.04);
  position: relative;
  transition: background-color 1s ease; }

.black-bg {
  background-color: #191919;
  box-shadow: -21px -21px 40px 0 rgba(0, 0, 0, 0.4); }

.white-bg {
  background-color: #FFFFFF; }

.grey-bg {
  background-color: #828282;
  box-shadow: -28px -28px 44px 0 rgba(0, 0, 0, 0.05); }

#overview-header-wrapper {
  height: 20%; }
  @media screen and (min-height: 1000px) {
    #overview-header-wrapper {
      height: 25%; } }
  @media screen and (min-height: 1100px) {
    #overview-header-wrapper {
      height: 30%; } }

#overview-header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center; }

.link {
  text-decoration: none;
  transition: color 1s ease; }

#settings-link {
  display: flex;
  align-items: center; }

.bubble {
  height: 37px;
  width: 105px;
  background: #F6F6F6;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 20px 0 0;
  opacity: 0;
  transition: background-color 1s ease; }
  .bubble:after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background: #F6F6F6;
    position: absolute;
    right: -4px;
    top: 14px;
    transform: rotate(45deg);
    transition: background-color 1s ease; }
  .bubble div {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    transition: all .5s ease; }
    .bubble div:first-child {
      background: #FFFFFF; }
    .bubble div:nth-child(2) {
      background: #191919; }
    .bubble div:nth-child(3) {
      background: #828282; }

#content-wrapper {
  height: 80%; }
  @media screen and (min-height: 1000px) {
    #content-wrapper {
      height: 75%; } }
  @media screen and (min-height: 1100px) {
    #content-wrapper {
      height: 70%; } }

#series-overview {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  padding-left: 7.55%; }

.series-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 722px;
  margin-right: 116px;
  padding-bottom: 25px; }
  .series-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .series-wrapper img {
    width: 690px;
    transition: filter 1s ease; }

.series-title {
  font-weight: bold;
  font-size: 15px;
  transition: color 1s ease; }

.series-meta {
  color: #A0A0A0; }

.series-desc {
  max-width: 450px;
  text-align: justify;
  color: #A0A0A0;
  line-height: 24px; }

.last-cover {
  margin-right: 133px; }

.show-popup {
  opacity: 1; }

.selected-option {
  box-shadow: inset 0px 0px 0px 3px #C9C9C9; }

.selected-option-black {
  box-shadow: inset 0px 0px 0px 3px red; }

.darken-covers {
  filter: contrast(0.9) grayscale(0.5); }

.white-text {
  color: #FFFFFF; }

.black-bubble {
  background-color: #313131; }
  .black-bubble:after {
    background-color: #313131; }

.grey-bubble {
  background-color: #8E8E8E; }
  .grey-bubble:after {
    background-color: #8E8E8E; }

.disable-interaction {
  pointer-events: none; }

.enable-interaction {
  pointer-events: auto; }

.grey-desc-color {
  color: red; }

#about-body {
  overflow: hidden; }

.about-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  z-index: -1; }
  .about-page div {
    margin-top: 20%;
    z-index: 2; }
    .about-page div p {
      max-width: 340px;
      line-height: 27px;
      text-align: justify;
      margin-bottom: 37px; }
    .about-page div a {
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .about-page div a:before {
        content: "";
        display: block;
        height: 1px;
        width: 23px;
        background-color: #494949;
        margin-right: 15px; }

.about-title {
  font-size: 260px;
  font-weight: normal;
  color: #F7F7F7;
  letter-spacing: 9px;
  margin: 0;
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 1; }

.about-back {
  background-color: #FFFFFF;
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.06);
  height: 50px;
  width: 105px;
  position: absolute;
  top: 13%;
  left: -2.8%;
  cursor: pointer;
  opacity: 0; }
  .about-back span {
    font-size: 17px;
    margin: 0 10px 5px 0; }

.black-about-title {
  color: #242424; }

.grey-about-title {
  color: #888888; }

.black-about-back {
  background-color: #1E1E1E;
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.67);
  color: #FFFFFF; }
  .black-about-back span {
    color: #FFFFFF; }

.grey-about-back {
  background-color: #828282;
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.08);
  color: #FFFFFF; }
  .grey-about-back span {
    color: #FFFFFF; }

.white-darker-text {
  color: #C9C9C9; }

.black-darker-text {
  color: #505050; }

.grey-darker-text {
  color: #A0A0A0; }

.series-back-link span {
  margin: 0 10px 0 0; }

.series-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .series-desc-wrapper div {
    text-align: right;
    margin-bottom: 28px; }
    .series-desc-wrapper div h1 {
      margin-top: 0; }

#header-wrapper {
  height: 50%;
  align-items: flex-start;
  padding-top: 100px; }

#header {
  align-items: flex-start;
  justify-content: space-between;
  width: 85%; }

.inner-series-wrapper {
  width: 80%; }

.image-wrapper {
  display: flex;
  margin-bottom: 135px;
  position: relative; }

.image {
  margin-right: 36px; }
  .image img {
    transition: box-shadow 1s ease; }
    .image img:hover {
      box-shadow: 20px 0 44px 0 rgba(0, 0, 0, 0.08); }
  .image div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
    .image div span {
      color: #A0A0A0; }
    .image div h3 {
      font-weight: normal; }

.meta-wrapper {
  z-index: -1; }

.meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  opacity: 0;
  margin-left: -200px; }

.meta-type {
  font-size: 12px;
  color: #A0A0A0;
  margin-bottom: 5px; }

.cta-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 85px; }

.cta {
  display: flex;
  width: 80%;
  justify-content: space-between; }
  .cta div a span {
    margin: 0 10px 0 0; }
  .cta a span {
    margin: 0 10px 0 0; }

.next-prev-wrapper {
  display: flex; }

.next {
  margin: 0 0 0 80px;
  position: relative; }
  .next span {
    position: absolute;
    right: -27px;
    bottom: 1px; }
  .next:before {
    content: "";
    display: block;
    height: 1px;
    width: 23px;
    background-color: #494949;
    position: absolute;
    top: 50%;
    left: -52px; }

#landscapes-cover-wrapper {
  display: flex;
  justify-content: flex-start; }

#landscape-1-wrapper {
  display: flex;
  justify-content: flex-end; }

#landscape-2-wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 30px; }

#landscape-3-wrapper {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  padding-right: 20px; }
