* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura";
  letter-spacing: 1px;
  color: #494949;
  font-size: 15px;
  text-decoration: none; }

body {
  height: 100vh;
  width: 100vw; }

.flex-center, #header-wrapper, .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.overview-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: -21px -21px 40px 0 rgba(0, 0, 0, 0.04);
  position: relative;
  transition: background-color 1s ease; }

.black-bg {
  background-color: #191919; }

.white-bg {
  background-color: #FFFFFF; }

.grey-bg {
  background-color: #828282; }

#header-wrapper {
  height: 20%; }

#header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center; }

.link {
  text-decoration: none; }

#settings-link {
  display: flex;
  align-items: center; }

.bubble {
  height: 37px;
  width: 105px;
  background: #F6F6F6;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 20px 0 0;
  opacity: 0; }
  .bubble:after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background: #F6F6F6;
    position: absolute;
    right: -4px;
    top: 14px;
    transform: rotate(45deg); }
  .bubble div {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    transition: all .5s ease; }
    .bubble div:first-child {
      background: #FFFFFF; }
    .bubble div:nth-child(2) {
      background: #191919; }
    .bubble div:nth-child(3) {
      background: #828282; }

#content-wrapper {
  height: 80%; }

#series-overview {
  display: flex;
  width: 100vw;
  overflow: scroll;
  padding-left: 7.55%; }

.series-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 722px;
  margin-right: 116px;
  padding-bottom: 25px; }
  .series-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .series-wrapper img {
    width: 690px;
    transition: filter 1s ease; }

.series-title {
  font-weight: bold;
  font-size: 15px; }

.series-meta {
  color: #A0A0A0; }

.series-desc {
  max-width: 450px;
  text-align: justify;
  color: #A0A0A0;
  line-height: 24px; }

.last-cover {
  margin-right: 133px; }

.show-popup {
  opacity: 1; }

.selected-option {
  box-shadow: inset 0px 0px 0px 3px #C9C9C9; }

.darken-covers {
  filter: contrast(0.9) grayscale(0.5); }

.series-back-link img {
  transform: scale(1.1);
  margin: 0 5px 1px 0; }

.series-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .series-desc-wrapper div {
    text-align: right;
    margin-bottom: 28px; }
    .series-desc-wrapper div h1 {
      margin-top: 0; }

#header-wrapper {
  height: 50%;
  align-items: flex-start;
  padding-top: 100px; }

#header {
  align-items: flex-start; }

.inner-series-wrapper {
  width: 80%; }

.image-wrapper {
  display: flex;
  margin-bottom: 135px;
  position: relative; }

.image {
  margin-right: 36px; }
  .image img {
    transition: box-shadow 1s ease; }
    .image img:hover {
      box-shadow: 20px 0 44px 0 rgba(0, 0, 0, 0.08); }
  .image div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
    .image div span {
      color: #A0A0A0; }
    .image div h3 {
      font-weight: normal; }

.meta-wrapper {
  z-index: -1;
  opacity: 0; }

.meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px; }

.meta-type {
  font-size: 12px;
  color: #A0A0A0;
  margin-bottom: 5px; }

.cta-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 85px; }

.cta {
  display: flex;
  width: 80%;
  justify-content: space-between; }
  .cta img {
    margin: 0 4px 2px 0; }

.next-prev-wrapper {
  display: flex; }

.next {
  margin-left: 80px;
  position: relative; }
  .next img {
    transform: rotate(180deg);
    margin: 0 0 1px 3px; }
  .next:before {
    content: "";
    display: block;
    height: 1px;
    width: 23px;
    background-color: #494949;
    position: absolute;
    top: 50%;
    left: -52px; }

#landscapes-cover-wrapper {
  display: flex;
  justify-content: flex-start; }

#landscape-1-wrapper {
  display: flex;
  justify-content: flex-end; }

#landscape-2-wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 30px; }

#landscape-3-wrapper {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  padding-right: 20px; }
